{% load staticfiles %}

<html>

<head>

	<title>Daily Ascii Tactics</title>

    <meta name="viewport" content="width=device-width; initial-scale=2.0; maximum-scale=2.0; user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>


    <!--<script src="jquery-1.11.1.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->


    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">-->
    {% load staticfiles %}
    {#    <img src="{% static "my_app/myexample.jpg" %}" alt="My image"/>#}

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>


	<style>

        .center
        {
            width: 100%;
            text-align: center;
        }

        .menu_button
        {
            background-color: #555;
        }

		body
		{
			-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    font-family:courier;
		}

        .background_image
        {
            position: relative;
            left:0;
            top:0;
            z-index: 1;
        }

        .character
        {
            position: absolute;
            left:0;
            top:0;
            z-index: 2;
        }

        .infoBox
        {
            position: absolute;
            background-color: #fff;
            width: 64px;
            height: 32px;
            z-index: 3;
        }

	</style>

</head>


<body id="body" style="background-color:#888">

		<div align="center" >

            <table>

                <tr>
                    <td>
                        <table>
                            <tbody id="canvas">
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table id="menu" style="background-color:#888;color:#000" width="100%">
                            <tr><td><button style="color:black" onclick="getBattle()">Enter Battle</button></td></tr>
                        </table>
                    </td>
                </tr>

            </table>

		</div>

        <div class="infoBox">
        </div>


</body>

<script type="text/javascript">

    function getBattle()
    {

        $.ajax(
        {

            type: 'GET',
            dataType: 'json',
            url: "{% url 'get_battle_dictionary' %}",
            data: { battle_id: {{ battle_id }}},

            beforeSend:function()
            {

                // this is where we append a loading image

            },

            success:function(_response)
            {

                // successful request; do something with the data
                parseBattle( _response );

            },

            error:function(xhr, ajaxOptions, thrownError)
            {
            }

        });

    };

//BATTLE INFO
var battleDictionary = null;
var characterList = new Array();
var selectedCharacter = null;
var selectedCharacterPk = -1;
var playerId = {{ user.id }};
var currentFrame = 0;


////MODES
var MODE_ROOT = 0;
var MODE_ACTIVE_NODE = 1;
var MODE_MOVE = 2;
var MODE_SCAN = 3;

var mode = MODE_SCAN;

//TERRAIN
var TERRAIN_TYPE_PATH = 0;
var TERRAIN_TYPE_WALL = 1;
var TERRAIN_TYPE_WATER = 2;

var TERRAIN_COLORS = ['#839e4f', '#e9f3d6', '#496fa3'];

//NODE INFORMATION
var SCANNED_CHARACTER_COLOR = "#F00";
var ACTIVE_CHARACTER_COLOR = "#00F";

////CANVAS AND BLOCKS
var NUM_COLUMNS = 0; //define when receiving battle dictionarys
var NUM_ROWS = 0;
var TOTAL_BLOCKS = NUM_COLUMNS * NUM_ROWS;
var blockArray = new Array();
var selectedBlock = null;



function drawCanvas()
{

    blockArray = new Array();

    var splitData = battleDictionary.terrain_map.split("|");

    var currentColumn = -1;
    var currentRow = 0;

    $("#canvas").empty();
    $("#canvas").append( "<tr>" );

    //terrain pass
    for( var i = 0; i < splitData.length; i++ )
    {

        //advance grid
        currentColumn++;
        if( currentColumn == NUM_COLUMNS )
        {
            currentColumn = 0;
            currentRow++;

            $("#canvas").append( "</tr><tr>" );
        }

        var block = new Block( currentColumn, currentRow, parseInt(splitData[i]) );

        blockArray.push( block );

        $("#canvas").append( block.cellText );

    }

    $("#canvas").append( "</tr>" );

};



function setupCharacters( _characterData )
{

    characterList = new Array();

    //character pass
    for( var c = 0; c < _characterData.length; c++ )
    {

        characterList.push( new Character(_characterData[c]) )

    }

};



function setupEventListeners()
{

    //event listeners
    document.ontouchstart = function(e)
    {
        e.preventDefault();
    };

    document.ontouchmove = function(e)
    {
        e.preventDefault();
    };

    $('.character').on({ 'mousedown': function(e)
    {

        //get js character object
        var character = getCharacterById( $(this).attr('id') );
        character.select();


    }});


    $('.block').on({ 'mousedown': function(e)
    {

        var block = getBlockWithId( $(this).attr('id') );

        console.log( $(this). attr('id') );
        console.log( block );

        if( mode == MODE_MOVE )
        {
            if( isBlockMovable(selectedCharacter, block, 1) )
            {
                performAction(JSON.stringify({
                    action: 'move',
                    character: selectedCharacter.id,
                    column: block.col,
                    row: block.row
                }));
            }
        }

    }});

};



function Character( _characterObject )
{

    this.fields = _characterObject.fields;
    this.id = _characterObject.pk;
    this.jqid = "#" + this.id;
    this.divText = "<img class='character' id='" + this.id + "' src='{% static 'character.gif' %}'></img>";


    //add to DOM
    $("#canvas").append(this.divText);


    //set position and rotation
    var element = $(this.jqid);

    this.col = this.fields['column'];
    this.row = this.fields['row'];
    var blockId = "#block_" + this.col + "_" + this.row;

    element.offset({
        top: $(blockId).offset().top,
        left: $(blockId).offset().left
    });

    if( this.fields['facing'] == 0 )
        rotate( element, 0.0 );
    if( this.fields['facing'] == 1 )
        rotate( element, 90.0 );
    if( this.fields['facing'] == 2 )
        rotate( element, 180.0 );
    if( this.fields['facing'] == 3 )
        rotate( element, 270.0 );

    this.select = function()
    {

        if( selectedCharacter != null )
            selectedCharacter.deselect();

        $(this.jqid).css("opacity", "0.5");

        selectedCharacter = this;
        selectedCharacterPk = this.id;

        startScanMode();

    };

    this.deselect = function()
    {

        $(this.jqid).css("opacity", "1.0");

    };


};



function getCharacterById( _id )
{

    for( var c = 0; c < characterList.length; c++ )
    {
        if( characterList[c].id == _id )
            return characterList[c];
    }

    return null;

};



function Block( _col, _row, _terrainType )
{

    this.row = _row;
    this.col = _col;
    this.terrainType = _terrainType;

    //id
    this.idText = "block_" + this.col + "_" + this.row;
    this.jqid = "#" + this.idText;


    //terrain
    var graphicFile = '{% static 'ground.gif' %}';

    if( _terrainType == 1 )
        graphicFile = '{% static 'wall.gif' %}';
    if( _terrainType == 2 )
        graphicFile = '{% static 'water.gif' %}';

    var bgImgText =  "<img class='background_image' src='" + graphicFile + "'></img>";
    this.cellText = "<td class='block' id='" + this.idText + "'><div style='position:relative;left:0;top:0;'>" + bgImgText + "</div></td>";

};


function getMapNodesOnBlock( _block )
{

    var returnList = new Array();

    if( _block == null )
        return returnList;

    for( i in nodeList )
    {

        var character = nodeList[i];

        if( character.fields['column'] == _block.col && character.fields['row'] == _block.row )
        {

            returnList.push( character );

        }

    }

    return returnList;

};



function getBlockWithId( _id )
{

    var splitId = _id.split("_");

    var col = splitId[1];
    var row = splitId[2];

    return getBlockWithCoordinates( parseInt(col), parseInt(row) );

};



function getBlockWithCoordinates( _col, _row )
{

    var blockIndex = ( _row * NUM_COLUMNS ) + _col;

    return blockArray[blockIndex];

};


function isBlockMovable( _character, _block, _distance )
{

    // bail if not correct terrain type
    if( _block.terrainType != 0 )
        return false;

    var colDif = Math.abs(_character.col - _block.col);
    var rowDif = Math.abs(_character.row - _block.row);
    var totalDistance = colDif + rowDif;

    // bail if same block character is standing on
    if( totalDistance == 0 )
        return false;

    // bail if more than allowed distance
    if( totalDistance > _distance )
        return false;

    return true;

};


////////////////MODES


function startScanMode()
{

    mode = MODE_SCAN;



    if( selectedCharacter != null )
    {
        updateCommandMenuForCharacter( selectedCharacter );
    }
    else
    {
        document.getElementById("menu").innerHTML = drawFrameBar();
    }


};



function updateCommandMenuForCharacter( _character )
{

    var commandLabelText = drawFrameBar();
    commandLabelText += "<tr><td>ID:" + _character.fields['name'] + "</td></tr>";
    commandLabelText += "<tr><td>CIV:" + _character.fields['strength'] + "</td></tr>";
    commandLabelText += "<tr><td><button onclick='startMoveMode()'>MOVE</button></td></tr>";

    document.getElementById("menu").innerHTML = commandLabelText;

};



function startMoveMode()
{

    mode = MODE_MOVE;

    //highlight available blocks for selected character
    for( var b = 0; b < blockArray.length; b++ )
    {

        var block = blockArray[b];

        if( isBlockMovable(selectedCharacter, block, 1) == true )
        {
            $(block.jqid).css('opacity', '0.5');
            $(block.jqid).css('background-color', '#f00');
        }

    }


    var commandLabelText = drawFrameBar();
    commandLabelText += "<tr><td>MOVE TO NEW SPACE</td></tr>";
    commandLabelText += "<tr><td><button onclick='startScanMode()'>CANCEL</button></td></tr>";
    document.getElementById("menu").innerHTML = commandLabelText;


};



function drawFrameBar()
{
    return "<tr><td><button style='color:black' onclick='frameBack()'>&lt;</button> CURRENT FRAME: " + currentFrame + " <button style='color:black' onclick='frameBack()'>&gt;</button></td></tr>"
};


/////////////////////////ACTIONS



function endTurn()
{
    performAction( JSON.stringify( {end_turn: 1} ) );
};

function move( _facing )
{
    performAction( JSON.stringify( {move: _facing} ) );
};

function use_item( _facing )
{

    performAction(
        JSON.stringify(
            {
                use_item_facing: _facing,
                use_item: _item
            }
        )
    );

};


function performAction( _actionDictionary )
{

    $.ajax(
    {

        type: 'GET',
        dataType: 'json',
        url: "{% url 'perform_action' %}",
        data: {
            battle_id: {{ battle_id }},
            action_dictionary: _actionDictionary
        },

        success:function( _response )
        {

            parseBattle( _response );

        }

    });

};



function parseBattle( _battleDictionary )
{

    battleDictionary = _battleDictionary;
    console.log(battleDictionary);

    //set globals
    NUM_COLUMNS = battleDictionary.num_columns;
    NUM_ROWS = battleDictionary.num_rows;
    TOTAL_BLOCKS = NUM_COLUMNS * NUM_ROWS;

    //redraw the canvas
    drawCanvas();

    //parse characters
    characterData = JSON.parse( battleDictionary.node_list );
    setupCharacters( characterData );

    //event listeners
    setupEventListeners();

    if( selectedCharacterPk == -1 )
        startScanMode();
    else
    {
        getCharacterById( selectedCharacterPk).select();
    }

};



function rotate( _element, _angle )
{

    var rotate = 'rotate(' + _angle + 'deg)';

    _element.css({
        '-webkit-transform': rotate,
        '-moz-transform': rotate,
        '-o-transform': rotate,
        '-ms-transform': rotate,
        'transform': rotate
    })

}



function pad( _number, _paddingAmount )
{

    return ( "0000000000" + _number ).slice( -_paddingAmount );

}

</script>

</html>